<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeewx.dao.WxSubscribeTextMapper">
  <resultMap id="BaseResultMap" type="com.coffeewx.model.WxSubscribeText">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="tpl_id" jdbcType="VARCHAR" property="tplId" />
    <result column="wx_account_id" jdbcType="VARCHAR" property="wxAccountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tpl_name" jdbcType="VARCHAR" property="tplName" />
    <result column="tpl_content" jdbcType="VARCHAR" property="tplContent" />
    <result column="wx_account_name" jdbcType="VARCHAR" property="wxAccountName" />
  </resultMap>

  <select id="findList" parameterType="com.coffeewx.model.WxSubscribeText" resultMap="BaseResultMap">
    SELECT
        t.*, t2.`name` AS wx_account_name,
        t3.tpl_name,
        t3.content AS tpl_content
     FROM t_wx_subscribe_text t
    LEFT JOIN t_wx_account t2 ON t.wx_account_id = t2.id
    LEFT JOIN t_wx_text_template t3 ON t.tpl_id = t3.id
    WHERE 1=1
    <if test="wxAccountId != null and wxAccountId != ''">
      AND t.wx_account_id = #{wxAccountId}
    </if>
  </select>

</mapper>